---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Do not underline links!!
a { text-decoration: none; }

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
